.angular

/api-e2e

**/.aws
**/dist

**/.editorconfig

**/.env

#.eslintignore
#.eslintrc.json

**/.github
**/.git
**/.gitignore

**/.husky

jest*.*

**/node_modules/

**/.prettierignore
**/.prettierrc

**/README.md

**/.vscode